/* Base Style */

body {
    width: 100%;
    margin: 0 auto;
    background-image: url(/img/bg.png);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Custom Style */
.viev-container {
    display: flex;
    flex-direction: column;
}
.viev-wrapper {
    display: flex;
}

.viev-img {
    align-self: center;
    margin-right: 15px;
}

.h4_title {
    margin: 0;
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 36px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}
.h2_title {
    color: #fefefe;
    font-family: "Roboto Condensed";
    font-size: 96px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    align-self: flex-end;
    margin-bottom: 30%;
}

.heart-container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.heart-container_img {
    align-self: center;
}

.heart-container_text {
    align-self: center;
    color: #ff0000;
    font-family: "Roboto Condensed";
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}

.block_text {
    /* margin-top: 10%;
    margin-left: 18%; */
}

.block_title {
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 48px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
}

.block_desc {
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    width: 300px;
}
.block_desc-span {
    font-weight: bold;
}
